# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
*.*~
build
CMakeLists.txt.user
*.csv
*.cmake

app/contexts/ANN_activeTaxel_tax_01.ini
app/contexts/ANN_activeTaxel_tax_03.ini
app/contexts/ANN_force_posTax_01.ini
app/contexts/ANN_force_posTax_02.ini
app/contexts/ANN_force_posTax_03.ini
app/contexts/ANN_force_tax_01.ini
app/contexts/ANN_force_tax_02.ini
app/contexts/ANN_force_tax_03.ini
app/contexts/ANN_position_tax_01.ini
app/contexts/ANN_position_tax_02.ini
app/contexts/ANN_position_tax_03.ini
app/contexts/iCubLeft_combined.ini
app/contexts/icubLeftIndex_gp_fr100.ini
app/contexts/icubRight_fr100.ini
app/contexts/iucbLeftIndex_ann.ini
app/contexts/simLeftIndex_gp_fr100.ini
app/contexts/simLeft_gp_fr100.ini
app/contexts/simRight_fr100.ini
app/yarpscope/leftIndex_gp_PosTax.xml

